.header {
  font-family: var(--font-dm-sans);
  width: 100%;
  height: 90px;
  color: white;
  background-color: black;
}

.headerContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.headerContainer-logo {
  font-family: var(--font-syne);
  font-weight: 800;
  color: #fff;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  margin-bottom: 0px !important;
  user-select: none;
}

.logo-header {
  display: flex;
}

.logo-header {
  font-size: 32px;
}

.logo-header-point {
  font-size: 32px;
  color: #500fe9;
}
.options {
  display: flex;
  align-items: center;
  gap: 20px;
}

.menu {
  display: flex;
  gap: 30px;
  font-size: 16px;
}

.menu-option {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.separator-container {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid gray;
  height: 16px;
}

.headerButtons {
  display: flex;
  gap: 10px;
}

.boton-ingresar,
.boton-registrarse {
  text-decoration: none;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.boton-ingresar {
  border: 1px solid gray;
}

.boton-registrarse {
  background-color: #6c63ff;
}
