@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: #000;
  color: white;
}

:root {
  --font-sans: var(--font-dm-sans);
  --font-syne: var(--font-syne);
}

img,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  overflow-x: hidden;
  width: 100%;
}